<ion-card>
  <ion-card-content>
    <div class="following-text">
      <ion-text>How you've been eating today?</ion-text>
    </div>
    <div id="planTargetChart"></div>
    <ion-row>
      <ion-col size="4" class="col-adjust">
        <span class="doughnut-index-1">&nbsp;</span><span class="doughnut-text">Carbs 85%</span>
      </ion-col>
      <ion-col size="4" class="col-adjust">
        <span class="doughnut-index-2">&nbsp;</span><span class="doughnut-text">Protein 50%</span>
      </ion-col>
      <ion-col size="4" class="col-adjust">
        <span class="doughnut-index-3">&nbsp;</span><span class="doughnut-text">Fat<br> 98%</span>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
