<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="dismissModel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
        <ion-list>
          <ion-radio-group (ionChange)="pregnent($event)">
            <ion-list-header>
              <ion-label>Are you pregnant</ion-label>
            </ion-list-header>
        
            <ion-item>
              <ion-label>Yes</ion-label>
              <ion-radio slot="start" value="yes"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio slot="start" value="no"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="8" offsetMd="2" size-lg="4" offsetLg="4">
          <ion-button expand="block" color="primary"  (click)="dismissModel()">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>