<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="light" slot="start" defaultHref="/on-boarding/new-info/weight"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" offset-lg="3">
        <ion-item lines="none">
          <ion-text color="primary" class="ion-padding-top">
            <h2 class="custom-text-primary">You were born...</h2>
          </ion-text>
        </ion-item>
        <ion-grid>
          <ion-row class="margin-top">
            <ion-col size="10" offset="1">
              <ion-item>
                <ion-label >Date of Birth</ion-label>
                <ion-datetime displayFormat="MM DD YYYY" max="{{today}}" (ionChange)="dateChanged($event)"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="8" offsetMd="2" size-lg="4" offsetLg="4">
          <ion-button expand="block" color="primary"  disabled="{{disabled}}" (click)="navigate()">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

