<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6" class="padding-margin-zero">
        <app-speedo-view></app-speedo-view>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-lg="6" class="padding-margin-zero">
        <app-plan-target></app-plan-target>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-lg="6" class="padding-margin-zero">
        <app-timeline-day></app-timeline-day>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-lg="6" class="padding-margin-zero">
        <app-timeline-meal></app-timeline-meal>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
