.unit-value{
    margin: 0;
    margin-left: 0.8rem;
    text-align: center;
}

.ingredient-quantity-col{
    padding-top: 0;
    padding-bottom: 0;
}

.ingredient-name{
    padding-left: .5rem;
    padding-top: .7rem;
}

.total-items{
    font-size:1rem;
}

.cart-checkout{
    position: fixed;
    bottom: 0%;
    padding-left: 2rem;
    padding-right: 2rem;
    background: white;
    left: 0%;
}

.page-title{
    font-size: 1.5rem;
}

.remove-padding{
    padding: 0;
}

.ingredient-value{
    color:#767676;
}

.ios.button-add-sub{
    border:1px solid silver;
}

.button-add-sub{
    --background: white;
    color: red;
    border-radius: .5rem;
    --background-activated:gray;
}

.empty-cart-btn{
    color: #ff0065;
    font-size: .8rem;
    padding-right: 2rem;
}

.back-cart-btn{
    color: #000;
    font-size: .8rem;
    padding-left: 2rem;
}