<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" size-md="8"  offset-lg="3"  offset-md="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="page-title">
              Shopping Cart <ion-text class="total-items">({{totalItems}} items)</ion-text>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="remove-padding">
            <ion-list>
              <div *ngFor="let ingredient of shoppingCart">
                <ion-item-sliding> 
                  <ion-item>
                    <ion-grid>
                      <ion-row>
                        <ion-col size="5" size-md="6" size-lg="7" class="ion-text-left ion-padding-top ingredient-name">
                         <ion-text class="ingredient-value" id="ingredientName{{ingredient.id}}">{{ingredient.name}}</ion-text>
                        </ion-col>
                        <ion-col size="7" size-md="6" size-lg="5"  class="ion-text-right ingredient-quantity-col">
                         <ion-grid>
                          <ion-row>
                            <ion-col size="3">
                              <ion-button class="button-add-sub" (click)="increaseQuantity(ingredient.id)"><ion-icon name="add-outline"></ion-icon></ion-button>
                            </ion-col>
                            <ion-col size="6">
                             <ion-textarea rows="1" id="textAreaValueSC{{ingredient.id}}" readonly="true"  class="unit-value" value="{{ingredient.value | roundNumber:ingredient.unit}} {{ingredient.unit}}"></ion-textarea>
                            </ion-col>
                            <ion-col size="3">
                              <ion-button class="button-add-sub" id="buttonSub{{ingredient.id}}" (click)="decreaseQuantity(ingredient.id)"> <ion-icon name="remove-outline"></ion-icon></ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                 </ion-item>
                 <ion-item-options side="end">
                  <ion-item-option color="secondary" (click)="remove(ingredient.id)">Delete</ion-item-option>
                </ion-item-options>
                </ion-item-sliding>
                
              </div>
            </ion-list>
            <ion-grid class="cart-checkout">
             <!-- <ion-row>
                <ion-col size="12" size-md="8" offsetMd="2" size-lg="8" offsetLg="2">
                  <ion-button expand="block" color="success" (click)="amazonFresh()">
                    Checkout with Amazon Fresh
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" size-md="8" offsetMd="2" size-lg="8" offsetLg="2">
                  <ion-button expand="block" color="secondary" (click)="kroger()">
                    Checkout with kroger
                  </ion-button>
                </ion-col>
              </ion-row>-->
              <ion-row *ngIf="totalItems !== 0">
                <ion-col size="12" class="ion-text-center" size-lg="4" offset-lg="4">
                  <a href="#" class="empty-cart-btn" (click)="emptyCart($event)">Empty cart</a>
                  <a href="#" class="back-cart-btn" (click)="goBack($event)">Back</a>
                </ion-col>
                <ion-col size="12" size-md="8" offsetMd="2" size-lg="8" offsetLg="2">
                  <ion-button expand="block" color="secondary" (click)="instacart()">
                    Checkout with Instacart
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="totalItems === 0">
                <ion-col size="12" size-md="8" offsetMd="2" size-lg="8" offsetLg="2">
                  <ion-button expand="block" color="secondary" (click)="goBack($event)">
                    Back
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
